<%= form_for [:admin , @lesson] do |f| %>
  <div class="container">
    <div class="col-md-12" >
      <div class="form-group field">
        <%= f.label :category_id %>
        <% categories_array = Category.all.map { |category| [category.name, category.id] } %>
        <%= f.select :category_id, options_for_select(categories_array), {include_blank: true}, class: "form-control" %>
      </div>
      <div class="form-group field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group field">
        <%= f.fields_for :questions do |question| %>
          <%= render "question_fields", f: question %>
        <% end %>
      </div>
      <div class="link-questions">
        <p> <%= link_to_add_fields(t("lesson.create.add_question"),f, :questions) %></p>
      </div>
      <div class="actions">
        <%= f.submit t("lesson.create.button"), class: "btn btn-primary btn-md button" %>
      </div>
    </div>
  </div>
<% end %>
