<div class="container">
  <div class="col-md-12 col-sm-12">
    <div class="section-title">
      <h2><%= t('category.index.title') %></h2>
    </div>

    <div class="section-search">
      <%= form_tag(categories_path, method: :get) do %>
        <%= text_field_tag :category, params[:category] %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>

    <div class="owl-carousel owl-theme owl-courses">
      <% for category in @categories %>
        <div class="col-md-6 col-sm-6">
          <div class="item">
              <div class="courses-thumb">
                <div class="courses-detail">
                  <h3><%= link_to category.name, category_path(category)  %></h3>
                  <p><%= category.description %></p>
                </div>

                <div class="courses-date">
                  <span><i class="fa fa-calendar"></i> <%= category.created_at ||  '12/7/2018' %></span>
                  <span><i class="fa fa-list-alt"></i> <%= category.total_word %> Words</span>
                  <span><i class="fa fa-check-square-o"></i> <%= category.total_exam %> Exams</span>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
